*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Outfit", sans-serif;
  font-size: 0.937rem;
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto; /* Create two rows: one flexible and one for the footer */
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  box-sizing: border-box;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.062rem;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.1);
}
img{
  width: 100%;
  border-radius: 0.625rem;
}
.title{
  color: hsl(218, 44%, 22%);
  font-size: 1.375rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.3;
  margin: 1.5rem 0.625rem 0.937rem 0.625rem;
}
.content{
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  text-align: center;
  line-height: 1.2;
  margin:0 1.25rem 1.625rem 1.25rem;
}

/* footer { 
  font-size: 11px; 
  text-align: center; 
  color: hsl(228, 45%, 44%); 
} */
